<h1>home!</h1>

<mat-card class="example-card">
  <mat-card-content>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet assumenda at consequuntur cupiditate eum fugiat
      iusto maiores modi quam quas qui, sed tempore unde. Alias, aperiam, ducimus! Doloribus, quod, ullam.
    </div>
    <div>Ipsa itaque magnam minus vel voluptatum? Aliquam assumenda, illo ipsa minima natus officiis praesentium qui quis
      saepe voluptates? Accusamus at autem deleniti dolorem eligendi eum necessitatibus omnis provident suscipit tempore!
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
