.sidenav-menu {
  &__сreateCategory {
    margin: 30px 45px 20px;
  }
  a {
    font-size: 20px;
    text-decoration: none;
    color: #000000;
    transition: 0.2s ;
    &:hover {
      color: #673ab7;
    }
  }
  &__linkAddCategory {
    font-weight: bold !important;
    cursor: pointer;
  }
}
.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.mat-icon-button .mat-icon, .mat-icon-button i {
  font-size: 20px;
  transition: 0.2s ;
  color: #0000007a;
  &:hover {
    color: #673ab7;
  }
}
