<p>edit-recipe works!</p>

<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Title recipe">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Recipe text"></textarea>
  </mat-form-field>
</div>


<!--<p>edit-recipe works!</p>-->

<!--<div class="example-container">-->
<!--  <form [formGroup]='myReactiveForm'] (submit)="submit()">-->
<!--    <mat-form-field>-->
<!--      <input-->
<!--        matInput placeholder="Title recipe"-->
<!--        formControlName="title">-->
<!--    </mat-form-field>-->
<!--    <mat-form-field>-->
<!--      <textarea-->
<!--        matInput placeholder="Recipe text"-->
<!--        formControlName="content"></textarea>-->
<!--    </mat-form-field>-->
<!--    <button type="submit" mat-button color="primary">submit</button>-->
<!--  </form>-->
<!--</div>-->

